<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/avatarWrapper.js"></script>
    <script src="/js/themeToggle.js"></script>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="left-sidebar">
            <div class="avatar-wrapper">
                <a href="" class="avatar-link">
                    <img class="profile-circle" th:src="@{${person.getPhotosImagePath()}}" alt="Profile Picture"/>
                </a>

                <div id="dropdown-menu" class="dropdown-menu hidden">
                    <a th:href="@{/{username}(username=${person.username})}" th:text="${person.username}">profile</a>
                    <p th:text="${person.email}">email</p>
                    <hr>
                    <a href="settings/profile">Настройки</a>
                    <a id="theme-toggle" href="">Сменить тему</a>
                    <a href="#">Помощь</a>
                    <a>
                        <form th:action="@{/auth/logout}" th:method="POST">
                            <input class="logout-button" type="submit" value="Выйти"/>
                        </form>
                    </a>
                </div>
            </div>


            <!-- Ссылки на страницы -->
            <ul class="nav-list">
                <li><a th:href="@{/{username}(username=${person.username})}">Профиль</a></li>
                <li><a href="posts">Посты</a></li>
                <li><a href="/pages/help">Помощь</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Редактирование вашей аватарки</h1>
            <div class="avatar-container">
                <form th:action="@{/settings/edit}" th:object="${person}" method="post" enctype="multipart/form-data">
                    <div>
                        <input type="file" name="image" accept="image/png, image/jpeg"/>
                    </div>

                    <button type="submit">Save Changes</button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>
