<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <link rel="stylesheet" href="/css/style-profile.css">
    <link rel="stylesheet" href="/css/button-style.css">

    <script src="/js/avatarWrapper.js"></script>
    <script src="/js/themeToggle.js"></script>
</head>
<body>
<div class="main">
    <!-- Левая панель -->
    <div class="left-sidebar">
        <div class="avatar-wrapper">
            <a href="" class="avatar-link">
                <img class="profile-circle" th:src="@{${personLogged.getPhotosImagePath()}}" alt="Profile Picture"/>
            </a>

            <div id="dropdown-menu" class="dropdown-menu hidden">
                <a th:href="@{/{username}(username=${personLogged.username})}" th:text="${personLogged.username}">profile</a>
                <p th:text="${personLogged.email}">email</p>
                <hr>
                <a href="settings/profile">Настройки</a>
                <a id="theme-toggle" href="">Сменить тему</a>
                <a href="#">Помощь</a>
                <a>
                    <form th:action="@{/auth/logout}" th:method="POST">
                        <input class="logout-button" type="submit" value="Выйти"/>
                    </form>
                </a>
            </div>
        </div>

        <!-- Ссылки на страницы -->
        <ul class="nav-list">
            <li><a th:href="@{/{username}(username=${personLogged.username})}">Профиль</a></li>
            <li><a href="/">Лента</a></li>
            <li><a href="/posts">Посты</a></li>
            <li><a href="/pages/help">Помощь</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Email Verification</h1>
        <form th:action="@{/auth/verify}" method="post">
            <label for="code">Verification Code:</label>
            <input type="text" id="code" name="code" required>
            <button type="submit">Verify</button>
        </form>
        <div style="color:red" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>