<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts-Person</title>
    <link rel="stylesheet" href="/css/style-posts.css">
    <link rel="stylesheet" href="/css/button-style.css">
    <script src="/js/avatarWrapper.js"></script>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="left-sidebar">
            <div class="avatar-wrapper">
                <a href="" class="avatar-link">
                    <img class="profile-circle" th:src="@{${personLogged.getPhotosImagePath()}}" alt="Profile Picture"/>
                </a>

                <div id="dropdown-menu" class="dropdown-menu hidden">
                    <a th:href="@{/{username}(username=${personLogged.username})}" th:text="${personLogged.username}">profile</a>
                    <p th:text="${personLogged.email}">email</p>
                    <hr>
                    <a href="settings/profile">Настройки</a>
                    <a id="theme-toggle" href="">Сменить тему</a>
                    <a href="#">Помощь</a>
                    <a>
                        <form th:action="@{/auth/logout}" th:method="POST">
                            <input class="logout-button" type="submit" value="Выйти"/>
                        </form>
                    </a>
                </div>
            </div>

            <!-- Ссылки на страницы -->
            <ul class="nav-list">
                <li><a th:href="@{/{username}(username=${personLogged.username})}">Профиль</a></li>
                <li><a href="/">Лента</a></li>
                <li><a href="/posts">Посты</a></li>
                <li><a href="/pages/help">Помощь</a></li>
            </ul>
        </div>

        <div class="content">
            <div th:if="${#lists.isEmpty(posts)}">
                <p>Здесь будет ваш контент.</p>
            </div>
            <div class="other-buttons" th:if="${personLogged.getId() == person.getId()}">
                <div class="button-container">
                    <a class="button-public-post" th:href="@{/posts/publication/{author}/public(author=${person.getUsername()})}">
                        <span>Public</span>
                    </a>
                </div>
                <div class="button-container">
                    <a class="button-private-post" th:href="@{/posts/publication/{author}/private(author=${person.getUsername()})}">
                        <span>Private</span>
                    </a>
                </div>
            </div>

            <div class="post-container" th:each="post : ${posts}">
                <div class="post">
                    <div class="avatar-container">
                        <a th:href="@{/{person}(person=${person.username})}">
                            <img class="avatar-in-post" th:src="@{${person.getPhotosImagePath()}}"
                                 alt="person avatar"/>
                        </a>
                        <a class="author-style" th:href="@{/{person}(person=${person.username})}"
                           th:text="${person.username}"></a>
                    </div>

                    <div class="post-title">
                        <a th:href="@{/posts/{id}(id=${post.getId()})}" th:text="${post.getTitle()}"></a>
                    </div>

                    <div class="post-image">
                        <img th:src="@{/{image}(image=${post.getImagePath()})}" alt="Post picture"/>
                    </div>

                    <div class="button-container">
                        <a class="button-read-next" th:href="@{/posts/{id}(id=${post.getId()})}">
                            <span>Read next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="button-create-post" th:if="${personLogged.isVerified()}">
                <a href="/posts/create" role="button">
                    <span>CREATE</span>
                </a>
            </div>
            <div class="verification-message" th:if="${!personLogged.isVerified()}">
                <div class="verification-icon">
                    <img src="/images/warning.png" alt="Warning Icon">
                </div>
                <div class="verification-text">
                    <p>Чтобы создавать посты, подтвердите свою учетную запись.</p>
                    <form th:action="@{'/' + ${personLogged.username} + '/send-verification'}" method="post">
                        <button class="verify-button" type="submit">Отправить код подтверждения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>