<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/avatarWrapper.js"></script>
    <script src="/js/themeToggle.js"></script>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="left-sidebar">
            <div class="avatar-wrapper">
                <a href="" class="avatar-link">
                    <img class="profile-circle" th:src="@{${person.getPhotosImagePath()}}" alt="Profile Picture"/>
                </a>

                <div id="dropdown-menu" class="dropdown-menu hidden">
                    <a th:href="@{/{username}(username=${person.username})}" th:text="${person.username}">profile</a>
                    <p th:text="${person.email}">email</p>
                    <hr>
                    <a href="settings/profile">Настройки</a>
                    <a id="theme-toggle" href="">Сменить тему</a>
                    <a href="#">Помощь</a>
                    <a>
                        <form th:action="@{/auth/logout}" th:method="POST">
                            <input class="logout-button" type="submit" value="Выйти"/>
                        </form>
                    </a>
                </div>
            </div>


            <!-- Ссылки на страницы -->
            <ul class="nav-list">
                <li><a th:href="@{/{username}(username=${person.username})}">Профиль</a></li>
                <li><a href="/">Лента</a></li>
                <li><a href="posts">Посты</a></li>
                <li><a href="/pages/help">Помощь</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Добро пожаловать!</h1>
            <div th:if="${#lists.isEmpty(posts)}">
                <p>Здесь будет ваш контент.</p>
            </div>
            <div class="post-container" th:each="post : ${posts}">
                <div class="post">
                    <div class="avatar-container">
                        <a th:href="@{/{person}(person=${person.username})}">
                            <img class="avatar-in-post" th:src="@{${person.getPhotosImagePath()}}" alt="person avatar"/>
                        </a>
                        <a class="author-style" th:href="@{/{person}(person=${person.username})}" th:text="${person.username}"></a>
                    </div>

                    <div class="post-title">
                        <a th:href="@{/posts/{id}(id=${post.getId()})}" th:text="${post.getTitle()}"></a>
                    </div>

                    <div th:if="${post.postType.name() != 'TEXT_ONLY'}">
                        <div class="post-image">
                            <img th:src="@{/{image}(image=${post.getImagePath()})}" alt="Post picture"/>
                        </div>
                    </div>

                    <div class="button-container">
                        <a class="button-read-next" th:href="@{/posts/{id}(id=${post.getId()})}">
                            <span>Read next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>