/* Общие настройки страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Тёмный фон */
    color: #e0e0e0; /* Светлый текст */
    margin: 0;
    padding: 0;
}

/* Светлая тема */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
    .post-container {
        background-color: #d7d7e1;
    }
    .post-title {
        color: black;
    }

}

/* Тёмная тема */
body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
    .post-container{
        background-color: #1c1c1e;
    }
    .post-title {
        color: white;
    }
}


.content {
    flex-grow: 1;
    padding: 40px;
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    width: 70%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
}


/* Стили для всех ссылок */
a {
    color: #ffffff; /* Белый цвет текста */
    text-decoration: none; /* Убираем подчёркивание */
}

a:hover {
    color: #2d88ff; /* Синий цвет при наведении */
    text-decoration: underline; /* Подчёркивание при наведении */
}

a:visited {
    color: #ffffff; /* Цвет посещённой ссылки (тоже белый, чтобы не отличалась) */
}

.left-sidebar {
    width: 150px;
    flex-shrink: 0; /* Фиксированная ширина боковой панели */
    padding: 30px;
    border-right: 2px solid #555;
    justify-content: center;
}

.profile-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.profile-circle:hover {
    transform: scale(1.05);
}

.avatar-link {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
}

.avatar-wrapper {
    position: relative; /* Для абсолютного позиционирования меню */
}

.dropdown-menu {
    position: absolute;
    top: 120px; /* Расстояние от аватарки */
    left: 0;
    background-color: #333;
    color: #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 220px;
}

.dropdown-menu a {
    display: block;
    padding: 8px 0;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #444;
    border-radius: 4px;
}

.dropdown-menu hr {
    border: 0;
    height: 1px;
    background-color: #555;
    margin: 10px 0;
}

.hidden {
    display: none;
}


.nav-list {
    list-style-type: none;
    padding-left: 0;
}

.nav-list li a {
    padding: 10px 0;
}

.nav-list li:not(:last-child) {
    margin-bottom: 15px;
}


.right-sidebar {
    width: 150px;
    flex-shrink: 0;
    padding: 30px;
    border-left: 2px solid #555;
    justify-content: center;
}

.verification-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffcccb; /* Светло-красный фон */
    border: 2px solid #ff6b6b; /* Красная рамка */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.verification-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.verification-text p {
    color: #d32f2f; /* Темно-красный текст */
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.verify-button {
    display: inline-block;
    background-color: #ff6b6b; /* Красная кнопка */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.verify-button:hover {
    background-color: #d32f2f; /* Более темный красный при наведении */
}



/* Основной стиль для формы поиска */
.search-result-link {
    display: flex;
    justify-content: flex-end; /* Перемещает форму в правую часть */
    margin: 20px;
}

.search-result-link form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-result-link input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.search-result-link input:focus {
    border-color: #007BFF;
    outline: none;
}

.search-result-link button {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-result-link button:hover {
    background-color: #0056b3;
}

/* Центрирование ошибки поиска */
.search-error {
    display: flex;
    flex-direction: column; /* Располагает элементы вертикально */
    justify-content: center; /* Центрирует содержимое по вертикали */
    align-items: center;   /* Центрирует содержимое по горизонтали */
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.search-error p {
    margin: 0;
}

.image-error {
    width: 200px;
    height: 200px;
    margin-bottom: 20px; /* Отступ между изображением и текстом */
}

.text-error {
    margin-top: 10px; /* Дополнительный отступ, если нужен */
}

/* Стили для каждого поста */
.post-container {
    background-color: #1c1c1e; /* Тёмный фон блока поста */
    border-radius: 8px; /* Закруглённые углы */
    padding: 20px; /* Отступы внутри блока */
    margin-bottom: 20px; /* Отступ между постами */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Тень для визуального разделения */
}

/* Аватарка и ник */
.avatar-container {
    display: flex; /* Горизонтальное выравнивание аватара и ника */
    align-items: center; /* Центровка по вертикали */
    gap: 10px; /* Расстояние между аватаром и ником */
    margin-bottom: 15px; /* Отступ от заголовка */
}

.avatar-in-post {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Круглый аватар */
}

/* Заголовок поста */
.post-title {
    font-size: 18px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    color: #ffffff; /* Белый текст */
    text-decoration: none; /* Убираем подчёркивание */
    margin-bottom: 15px; /* Отступ от изображения */
    display: block; /* Заголовок занимает всю ширину */
}

.post-title:hover {
    text-decoration: underline; /* Подчёркивание при наведении */
}

/* Картинка в посте */
.post-image img {
    max-width: 100%; /* Картинка занимает всю ширину блока */
    /*width: 300px;*/
    /*height: 300px; !* Сохраняем пропорции *!*/
    border-radius: 4px; /* Лёгкое закругление углов */
    margin-bottom: 15px; /* Отступ от кнопки */
}

.post-image{
    display: flex;
    justify-content: center;
}

/* Кнопка "Читать далее" */
.button-container {
    text-align: center; /* Центрирование кнопки */
}

.button-read-next {
    display: inline-block;
    background-color: #2d88ff; /* Синий фон кнопки */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 4px; /* Закругление углов */
    text-decoration: none; /* Убираем подчёркивание текста */
    font-weight: bold; /* Жирный текст */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.button-read-next:hover {
    background-color: #1a5db0; /* Тёмно-синий цвет при наведении */
}

/* Отступы между элементами внутри поста */
.post-container > *:not(:last-child) {
    margin-bottom: 15px; /* Отступ между элементами, кроме последнего */
}



.logout-button {
    background-color: rgba(255, 0, 30, 0.81);
    color: white;
}